@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1>Bem-vindo ao Customer Registry System</h1>
    <p class="lead">Escolha uma das opções abaixo:</p>
    <div class="mt-4">
        <a href="@Url.Action("Add", "Customer")" class="btn btn-success btn-lg mx-2">Adicionar Cliente</a>
        <a href="@Url.Action("Show", "Customer")" class="btn btn-primary btn-lg mx-2">Ver Clientes</a>
    </div>

</div>
