@model CustomerRegistrySystem.Models.AddCustomerViewModel

<h1>Add Customer</h1>

<form method="post" action="Add">
    <div class="mb-3">
        <label class="form-label">Nome</label>
        <input type="text" class="form-control" asp-for="Name" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" asp-for="Email" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Telefone</label>
        <input type="text" class="form-control" asp-for="Phone" required>
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
