@model CustomerRegistrySystem.Models.EditAddressViewModel

<h1>Editar Endereço</h1>

<form id="editAddressForm" asp-action="EditAddress" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label>Rua</label>
        <input asp-for="Street" class="form-control" />
    </div>
    <div class="form-group">
        <label>Cidade</label>
        <input asp-for="City" class="form-control" />
    </div>
    <div class="form-group">
        <label>Estado</label>
        <input asp-for="State" class="form-control" />
    </div>
    <div class="form-group">
        <label>CEP</label>
        <input asp-for="CEP" class="form-control" />
    </div>
    <div class="form-group">
        <label>Complemento</label>
        <input asp-for="Complement" class="form-control" />
    </div>
    <div class="form-group">
        <label>Tipo</label>
        <select asp-for="Type" class="form-select">
            <option value="Fiscal">Fiscal</option>
            <option value="Cobrança">Cobrança</option>
            <option value="Entrega">Entrega</option>
        </select>
    </div>

    <button type="button" id="confirmEditBtn" class="btn btn-success">Salvar</button>
</form>

<!-- Modal de Confirmação -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Confirmar Edição</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Tem certeza de que deseja salvar as alterações feitas no endereço?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" id="confirmSaveBtn" class="btn btn-success">Salvar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Quando o botão "Salvar" é clicado, abre o modal de confirmação
            $('#confirmEditBtn').click(function () {
                $('#confirmationModal').modal('show');
            });

            // Quando o botão "Salvar" dentro do modal é clicado
            $('#confirmSaveBtn').click(function () {
                // Fecha o modal
                $('#confirmationModal').modal('hide');

                // Submete o formulário
                $('#editAddressForm').submit();
            });
        });
    </script>
}
