@model CustomerRegistrySystem.Application.ViewModels.AddCustomerViewModel

<h1>Adicionar Cliente</h1>

<form method="post" action="Add">
    <div class="mb-3">
        <label class="form-label">Nome</label>
        <input type="text" class="form-control" asp-for="Name" placeholder="Insira seu nome" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" asp-for="Email" placeholder="Insira seu email" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Telefone</label>
        <input type="text" id="Phone" name="Phone" class="form-control" asp-for="Phone" placeholder="Insira seu telefone" required>
    </div>
    <div class="mb-3">
        <label class="form-label">CPF</label>
        <input type="text" id="CPF" name="CPF" class="form-control" asp-for="CPF" placeholder="Insira seu CPF" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Data de Nascimento</label>
        <input type="date" class="form-control" asp-for="DateOfBirth" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Gênero</label>
        <select class="form-select" asp-for="Gender" required>
            <option value="" disabled selected>Selecione um gênero</option>
            <option value="0">Masculino</option>
            <option value="1">Feminino</option>
            <option value="2">Outro</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
</form>